:root {
  --borderStyle: inset;
  --borderColor: #ccc;
  --borderWidth: 0.5;
  --colorTopBarBackground: #abe6ff;
  --colorMainBackground: #89d8ff;
  --colorMainText: #000000;
  --colorLink: #bb0000;
}
