:root {
  --borderStyle: inset;
  --borderColor: #ccc;
  --borderWidth: 0.5;
  --colorTopBarBackground: #0b4300;
  --colorMainBackground: #0b4300;
  --colorMainText: #484848;
  --colorLink: #000000;
}
